body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container-fluid {
  overflow: hidden;
  display: inline;
  text-decoration: none;
  margin-top: -10px;
  align-items: center;
  margin-bottom: -8px;
  font-size: small;
  font-weight: bold;
}

.nav-link {
  color: rgb(10, 5, 5);
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 2px;
  padding-left: 10px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s,
    border-radius 0.3s;
}

.nav-link:hover {
  border-color: #28c2d6;
  border-radius: 25px; 
  background-color: #0d636e;
  box-shadow: 0 0 10px #28c2d6;
  color: white;
}

.navbar-brand {
  color: aliceblue;
  margin-right: 170px;
}

.navbar-brand i {
  margin-right: 8px;
}

.nav-link i {
  margin-right: 8px;
}

.profile-photo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
  vertical-align: middle;
}

.custom-search-form {
  display: flex;
  align-items: center;
}

.custom-search-input {
  width: 470px;
  margin-right: 5px;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid #080808;
  opacity: 0.6;
  color: #0a0909;
}

.custom-search-input:focus {
  background-color: #6aacac;
  font-weight: bolder;
  color: black;
}

.custom-search-input:hover {
  color: #e1d9e4;
}

.custom-search-button {
  border-radius: 20px;
  padding: 5px 10px;
}
