@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;
  background-image: url("../images/signup.jpg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10% center;
  height: auto;
}

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.signup-table {
  height: auto;
  width: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-left: 500px;
  margin-top: 20px;
}

.signup-boxes {
  margin-bottom: 10px;
}

.form-control {
  margin: auto;
  margin-bottom: 20px;
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.btn-primary {
  display: block;
  margin: auto;
  width: 50%;
  background-color: #9c5ce4;
  color: #fff;
  border: none;
  transition: box-shadow 0.3s ease;
  outline: none;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.btn-primary:hover{
  background-color: #9c5ce4;
  box-shadow: 0 0 10px #9c5ce4;
}

.btn-primary:focus {
  outline: none;
}

.form-text {
  text-align: center;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.form-text a {
  color: black;
  text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.signup-page h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.login{
  text-align: center;
  color: black;
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 5px;
}

