{% extends 'base.html' %} {% block body %}
<div class="container">
  <div class="container">
    <!-- FORM -->
    <form method="post">
      <!-- Textarea for user input -->
      <textarea
        name="post"
        cols="30"
        rows="10"
        class="form-control"
        placeholder="Write a post here..."
        maxlength="10000"
        required
      ></textarea>
      <br />
      <!-- Submit button to create the post -->
      <input
        type="submit"
        value="Create Post"
        class="form-control btn btn-primary"
      />
    </form>
  </div>
</div>
{% endblock %}
