{% extends 'base.html' %}
{% block body %}
<div class="container">
  <h1>Settings</h1>
  <a href="/edit/profile/{{current_user.id}}/images" class="btn btn-outline-primary">Change Profile Picture</a>
  <form method="post">
    <table class="">
     
      <tr>
        <label>Name
        <td class="signup">
          <input
            type="text"
            name="first_name"
            placeholder="First Name"
            class="form-control"
            value="{{current_user.first_name}}"
            
          />
        </td>
        <td class="signup-boxes">
          <input
            type="text"
            name="last_name"
            placeholder="Last Name"
            class="form-control"
            value="{{current_user.last_name}}"
          />
        </td></label>
        </tr>
     
      <tr>
        <td class="signup-boxes" colspan="2"><label for="">Email
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="form-control"
            value="{{current_user.email}}"
           
          /></label><br><label for="">Password</td></tr>
          
          <tr> 
        <td class="signup-boxes" colspan="2"> 
          <input
            type="password"
            name="old_password"
            placeholder="Type your old password"
            class="form-control"
            id="password"
          />
        </td>
      </tr>
      <tr>
        <td class="signup-boxes" colspan="1">
          <input
            type="password"
            name="password1"
            placeholder="New Password"
            class="form-control"
          />
        </td>

        <td class="signup-boxes" colspan="1">
          <input
            type="password"
            name="password2"
            placeholder="Type new password again"
            class="form-control"
          />
        </td>
      </tr>
      <tr>
        <td class="signup-boxes" colspan="2"><label for="">Your Bio</label>
            {% if current_user.bio == None or current_user.bio == "" %}
            <textarea name="bio" cols="30" rows="10" placeholder="Enter your bio" class="form-control"></textarea>
            {% else %}
            <textarea name="bio" cols="30" rows="10" placeholder="Enter your bio (max 1,500 characters). Markup (HTML) supported." class="form-control" maxlength="1500">{{current_user.bio}}</textarea>
            {% endif %} 
        </td>
      </tr> 
      
      <tr>
        <td class="signup-boxes" colspan="2"><br>
          <input
            type="submit"
            class="btn btn-primary form-control signup-boxes"
            value="Update Profile"
          /></label>
        </td>
      </tr>
    </table>
  </form>
  <br><br>
  <a href="/logout" class="btn btn-outline-danger">Log Out</a><br><br><br><br>
</div>
{% endblock %}
