{% extends "base.html" %}
{% block body %}
<style >
  .custom-search-input {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 0;
  }

  .custom-search-input:focus {
    background-color: transparent;
    color: white;
    outline: none;
    box-shadow: none;
    border-color: white;
  }

  .custom-search-button {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.607);
    border-radius: 0;
    padding-left: 10px;
    cursor: pointer;
  }

  .custom-search-button:hover {
    color: #ffffff;
  }

  .custom-search-group {
    display: flex;
    align-items: center;
  }

  .custom-search-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
    .border {
    padding: 10px 15px;
    border-radius: 6px;
    max-width: 500px; 
    margin: auto; 
  }

  .post-data {
    margin-left: 40px; /* Adjust the value as needed */
}

.photo {
    margin-left: 20px;
    border-radius: 50%;
    width: 40px; /* Adjust as needed */
}

.like {
    padding-left: 20px;
    display:inline
}

</style>

<div class="container">
  <form action="" method="post" class="custom-search-form">
    <div class="input-group mb-3 custom-search-group">
      <input
        type="text"
        class="form-control custom-search-input"
        aria-label="Search"
        aria-describedby="button-addon2"
        name="search"
      />
      <button
        class="btn custom-search-button"
        type="submit"
        id="button-addon2"
      >
        Search
      </button>
    </div>
  </form>

  {% for post, user in posts %}
  <div class="border">
    <a href="/profile/{{user.id}}" style="text-decoration: none;">
      <img
        src="../static/images/{{user.profile_picture}}"
        alt="Avatar Image"
        class="photo"
      />
    </a>
    <a href="/profile/{{user.id}}" style="color: #6e8898; text-decoration: none;">
      <small>{{ user.first_name }} {{ user.last_name }}</small>
    </a>

    <p class="post-data" >{{ post.data }}</p>
    <!-- Liking Post -->
    <form action="/post/{{post.id}}/like" method="post" class="like">
      <button type="submit" class="btn btn-outline-dark btn-sm" style="background-color: black;">🤍</button>
      <p style="display: inline"> {{ post.likes | count }}</p>
    </form>
  </div>
  <br />
  {% endfor %}
</div>
{% endblock %}