{% extends 'base.html' %}
{%block extra_css%}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block body %}
<table class="login-table">

  <tr class="txt">
    <td colspan="2">
      <h1>Login</h1>
    </td>
  </tr>

    <td class="login-th">
      <div class="input-group mb-3">
        <form action="" method="post">
          <input
            type="email"
            name="email"
            placeholder="email address"
            class="form-control"
          />
          <input
            type="password"
            name="password"
            placeholder="password"
            class="form-control"
          />
          <span class="d-grid gap-2">
            <input type="submit" class="btn btn-primary form-control" value="Log In" />
          </span>
        </form>
      </div>
      <p class="form-text">Don't have an account?
      <a href="sign-up" class="form-text" style="color:black">Sign Up</a></p>
    </td>
  </tr>
</table>
{% endblock %}
