{% extends 'base.html' %} {% block body %}

<style >
  .custom-search-input {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 0;
  }

  .custom-search-input:focus {
    background-color: transparent;
    color: white;
    outline: none;
    box-shadow: none;
    border-color: white;
  }

  .custom-search-button {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.607);
    border-radius: 0;
    padding-left: 10px;
    cursor: pointer;
  }

  .custom-search-button:hover {
    color: #ffffff;
  }

  .custom-search-group {
    display: flex;
    align-items: center;
  }

  .custom-search-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>

<div class="container">
  <form action="" method="post" class="custom-search-form">
    <div class="input-group mb-3 custom-search-group">
      <input
        type="text"
        class="form-control custom-search-input"
        aria-label="Search"
        aria-describedby="button-addon2"
        name="search"
      />
      <button
        class="btn custom-search-button"
        type="submit"
        id="button-addon2"
      >
        Search
      </button>
    </div>
  </form>
    
  <h2>Showing results for "{{query}}"</h2>
  <h3>Users</h3>
  {% if users %}
  {% for user in users %}
  <div class="border" style="border-radius: 10px; padding:5px">
<strong><a href="/profile/{{user.id}}" style="color: black;">{{ user.first_name }} {{ user.last_name }}</a></strong></div>{% endfor %}{% else %} There are no users matching your search. <br> {% endif %}
<br>
  <h3>Posts</h3>
  {% if posts %}
  {% for post, user in posts %}
  <div class="border" style="border-radius: 10px; padding: 5px">
    <small><a href="/profile/{{user.id}}" style="color: #6e8898; text-decoration: none;">{{ user.first_name }} {{ user.last_name }}</a></small>

    <p>{{ post.data }}</p>
    {% if current_user.id == post.user_id %}
    {% else %}{% endif %}
  </div>
  <br />
  {% endfor %}{%else%} There are no posts matching your search.{% endif %}
</div>
{% endblock %}
