{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/signup.css"/>
{% endblock %}

{% block body %}
<div class="signup-page">
  <br /><br />
  <form action="" method="post">
    <table class="signup-table">
      <tr>
        <td class="signup-boxes" colspan="2" style="text-align: center;">
          <h1>Get in touch</h1>
        </td>
      </tr>
      <tr>
        <td class="signup-boxes">
          <input
            type="text"
            name="first_name"
            placeholder="First Name"
            class="form-control"
            value="{{form_first_name}}"
          />
        </td>
      </tr>
      <tr>
        <td class="signup-boxes">
          <input
            type="text"
            name="last_name"
            placeholder="Last Name"
            class="form-control"
            value="{{form_last_name}}"
          />
        </td>
      </tr>
      <tr>
        <td class="signup-boxes">
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="form-control"
            value="{{form_email}}"
          />
        </td>
      </tr>
      <tr>
        <td class="signup-boxes">
          <input
            type="password"
            name="password1"
            placeholder="Create a Password"
            class="form-control"
          />
        </td>
      </tr>
      <tr>
        <td class="signup-boxes">
          <input
            type="password"
            name="password2"
            placeholder="Type password again for confirmation"
            class="form-control"
          />
        </td>
      </tr>
      <tr>
        <td class="signup-boxes">
          <input
            type="submit"
            class="btn btn-primary form-control"
            value="Sign Up"
          />
        </td>
      </tr>
      <tr>
        <td class="signup-boxes">
          <a href="/" class="login" >Log in</a>
        </td>
      </tr>
    </table>
  </form>
</div>
</center>
{% endblock %}
