
p {
    margin: 10px;
}
.login-table {

    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-th {
    padding:70px;
}

.form-control {
    margin: 10px;
}
.signup-page {
    text-align: center;
    margin: auto;
}

.signup-table {
    margin: auto;
}

.signup-boxes {
    padding-left: 10px;
    padding-right: 10px;
    
}

.form-text {
    text-align: center;
}
